* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /*Ensures that elements fit into their containers better.*/
}

/*header*/ 
.header{
  background-image: url('../images/developer.png'), url(../images/header_bg.png);
  background-repeat: no-repeat;
  /* Use calc() to set precise offsets from the top */
  background-position: left calc(31px), right calc(312px);
  /*You’re explicitly setting a vertical offset (31px or 312px from the top) while leaving the horizontal alignment (left or right) intact.*/
}

/*Nav Style*/
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 42px 220px;
}

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Shared Styles*/
.secondary-bg{
    background-color: #FFF8F3;
}

.dark-1{
   color: #181818;
}

.dark-2{
    color: #474747;
 }

.dark-3{
    color: #757575;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.nav-title{
    font-weight: 800;    /* Extrabold-800; Bold-700 */
    font-size: 45px;
} 

nav ul li{
    list-style: none;  /* list item er ager dot dot gula chole jabe */
    margin-right: 51px;
}

nav li a{
    text-decoration: none;     /* list item er nicher underline chole jabe */
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
    margin:30px 0px;
}

.text{
    text-align: center;
 }

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px 230px;
 }

 .banner-content{
    max-width: 585px;
    padding: 180px  0px 100px 0px;
    /* max-height: 356px; */
 }

.banner-greetings{
    font-size: 45px ;
    font-weight: 600;   /* Semibold = 600 */
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
    margin: 30px 0px;
 }

.profile-pic{
    max-width: 584px;
    /*max-height: 676px;*/
 }

 main section{
    margin-top: 123px;
 }

 /*about Styles*/
 .about{
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
 }
 .about-bg{
    background-color: #ffffff; /* white color */
    max-width: 827px; /* Adjust the width as needed */
    max-height: 350px;
    border-radius: 0%;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
 }

 .about-items{
    display: flex;
    justify-content: space-around;
 }
 
 .about-item{
    font-size: 20px;
 }

 .item-description{
    font-weight: 600;
 }

/* What I Do Styles */
.what-des{
    padding: 0px 115px 30px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 33px;
    border-radius: 5;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
}

.skill-title{
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
}

.skill-description{
    font-size: 16px;
}

/* reume styles */
.resume-container{
    display: flex;
}

 